@charset "utf-8";
* {
    margin:0;
    padding:0;
}

#main {
    width:800px;
    heiht: 600px;
    margin:auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,128,0,0.57);
    color: rgba(0,0,0,0.57);
    padding: 10px;
}

h2 {
    text-align: center;
    color: rgba(0,0,0,0.87);
}

/*
.left {
    width:200px;
    float:left;
}
.right {
    width:390px;
    margin-left:200px;
} */
p.alert {
    color: rgba(255,0,0,0.87);
}
p.message {
    color: rgba(0,255,0,0.87);
}
